$gray-500:#adb5bd;

.content {
    //display: flex;
    //align-items: center;
    //flex-wrap: wrap;
    //flex-direction: column;
    color: $gray-500;
}

.code_bl {
    //margin-left: auto;
    //margin-right: auto;
    width: fit-content;
}